
body, html{
	height: 100%;
	width: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

body{
	background: #EFEFEF;
}

#elements-pagination{
	width: 100%;
	position: relative;
	text-align: center;
	height: 45px;
}


#elements-pagination ul > li {
	height: 26px;
    display: inline-block;
    width: 25px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #000;
    margin-left: 5px;
    padding-top: 5px;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 8px;
}

#elements-pagination ul > li:hover, #elements-pagination ul > li[class="active"]{
	height: 32px;
    width: 27px;
    text-align: center;
    background: #000;
    color: #FFF;
    height: 30px !important;
    padding-top: 12px !important;
}


/*
* Generic class
*/

.hide{
	display: none;
}