

body, html{
	height: 100%;
	width: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

body{
	background: #EFEFEF;
}

#elementsContainer{
	width: 100%;
	display: block;
	height: auto;
}

#elementsContainer > .element{
	width: 32%;
	display: inline-block;
	background: #39d5ef;
	height: auto;
	min-height: 300px;
	border-radius: 5px;
	margin: 5px 5px 0px 5px;
}

#elementsContainer > .element > .title{
	width: 100%;
    background: #756969;
    height: 45px;
}

#elementsContainer > .element > .title p,
#elementsContainer > .element > .content p{
	margin: 0px;
	padding-top: 8px;
	font-size: 25px;
	font-style: italic;
}

#elementsContainer > .element > .author p{
	padding-top: 8px;
}

#elementsContainer > .element > .content p{
	font-size: 15px !important;
	padding-right: 5px;
	padding-left: 5px;

}

#elementsContainer > .element > .content{
	height: 220px;
}

#elementsContainer > .element > .author{
	height: 35px;
    width: 100%;
    background: #6ae05c;
    bottom: 0px;
}

.align-center{
	text-align: center;
}