

div[id*=elements-pagination]{
    width: 100%;
    position: relative;
    text-align: center;
    height: 45px;
}

/***************** The light version *******************/

div[id*=elements-pagination] ul.light > li {
	height: 26px;
    display: inline-block;
    width: 25px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #000;
    margin-left: 5px;
    padding-top: 5px;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 8px;

    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration:0.5s;
}

div[id*=elements-pagination] ul.light > li:not(.prev):not(.next){
    border-radius: 50%;
    width: 44px;
}

div[id*=elements-pagination] ul.light > li:hover, div[id*=elements-pagination] ul.light > li[class="active"]{
    height: 32px;
    width: 27px;
    text-align: center;
    background: #000;
    color: #FFF;
    height: 30px !important;
    padding-top: 12px !important;

    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration:0.5s;
}

div[id*=elements-pagination] ul.light > li.prev, div[id*=elements-pagination] ul.light > li.next,
div[id*=elements-pagination] ul.light > li.prev:hover, div[id*=elements-pagination] ul.light > li.next:hover{
    width: 65px !important;
    height: 50px !important;
    border-radius: 50% !important;
    padding-top: 4px !important;
}

div[id*=elements-pagination] ul.light > li.disabled{
    background: rgba(123, 120, 120, 0.43) !important;
    cursor: not-allowed;
}

/*************************** End version light ****************************/


/****************** The dark version ***************************************/

div[id*=elements-pagination] ul.dark{
    background: #444;
    padding: 10px 0px 10px 0px;
}

div[id*=elements-pagination] ul.dark > li {
    height: 26px;
    display: inline-block;
    width: 25px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #FFF;
    margin-left: 5px;
    padding-top: 5px;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 8px;
    color: #FFF !important;
}

div[id*=elements-pagination] ul.dark > li:not(.prev):not(.next){
    border-radius: 50%;
    width: 44px;

    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration:0.5s;
}

div[id*=elements-pagination] ul.dark > li:hover, div[id*=elements-pagination] ul.dark > li[class="active"]{
    height: 32px;
    width: 27px;
    text-align: center;
    background: #FFF;
    color: #000 !important;
    height: 30px !important;
    padding-top: 12px !important;

    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration:0.5s;
}

div[id*=elements-pagination] ul.dark > li.prev, div[id*=elements-pagination] ul.dark > li.next,
div[id*=elements-pagination] ul.dark > li.prev:hover, div[id*=elements-pagination] ul.dark > li.next:hover{
    width: 65px !important;
    height: 50px !important;
    border-radius: 50% !important;
    padding-top: 4px !important;
}


div[id*=elements-pagination] ul.dark > li.disabled{
    background: rgba(123, 120, 120, 0.43) !important;
    cursor: not-allowed;
}



/********************End dark version*********************************************/


/*
* Generic class
*/

.hide{
	display: none !important;
}